/* ESERCIZIO 1 */
.ex-1-square{
    transition: all 3s ease;
}
.ex-1-square:hover{
    background-color: red;
}
/* ESERCIZIO 2 */
.ex-2-square{
    transition: all 5s ease-out;
}
.ex-2-square:active{
    width: 100%;
}
/* ESERCIZIO 3 */
.ex-3-square{
    transition: all 3s ease-in-out ;
}
.ex-3-square:hover{
    border-radius: 100%;
}
/* ESERCIZIO 4 */
.ex-4-square{
    transition: all 5s ease-in;
}
.ex-4-square:hover{
    background-color: transparent;    
}
/*  ESERCIZIO 5 */
.ex-5-square{
    transition: all 1s ease;
}
.ex-5-square:hover{
    width: 80px;
    height: 80px;
}
.ex-5-square:active{
    width: 40px;
    height: 40px;
}